appdirs==1.4.3
extras==1.0.0
fixtures==3.0.0
fuzzywuzzy==0.15.0
lettuce==0.2.23
linecache2==1.0.0
mock==2.0.0
packaging==16.8
pbr==3.0.0
pyparsing==2.2.0
python-mimeparse==1.6.0
python-subunit==1.2.0
six==1.10.0
sure==1.4.5
testtools==2.2.0
traceback2==1.4.0
unittest2==1.1.0
